<%- include('partials/_header'); %>

    <%- include('partials/_navigation'); %>

        <div class="all-title-box">
            <div class="container text-center">
                <h1>About Us<span class="m_1">Brownie icing marshmallow bear claw cookie. </span></h1>
            </div>
        </div>

        <div id="overviews" class="section lb">
            <div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3>About</h3>
                        <p class="lead">Ice cream chocolate bar gummies cake soufflé biscuit tootsie roll pie
                            cheesecake. Topping candy candy canes chupa chups tart halvah pie. Cupcake sesame snaps
                            icing toffee powder halvah.</p>
                    </div>
                </div><!-- end title -->

                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="message-box">
                            <h4>2018 BEST SmartEDU education school</h4>
                            <h2>Awards Winner Support Center</h2>
                            <p>Pie cake dragée lemon drops sweet brownie. Pudding dragée bear claw cookie biscuit sweet
                                shortbread tiramisu shortbread. Cookie chupa chups caramels lemon drops oat cake soufflé
                                chocolate cake muffin.</p>

                            <p>Sesame snaps jelly beans sugar plum candy pie cheesecake shortbread jujubes. Cotton candy
                                pie carrot cake gummies marzipan bear claw chupa chups sugar plum macaroon. Lollipop
                                sesame snaps jelly-o cake liquorice dragée cheesecake tiramisu. Chocolate chocolate
                                gummi bears toffee candy canes sesame snaps cupcake.</p>

                            <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="post-media wow fadeIn">
                            <img src="images/about_02.jpg" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div><!-- end col -->
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="post-media wow fadeIn">
                            <img src="images/about_03.jpg" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="message-box">
                            <h2>The standard Lorem Ipsum passage, used since the 1500s</h2>
                            <p>Croissant gummies brownie gingerbread shortbread macaroon pudding lollipop muffin.
                                Gummies sweet bonbon soufflé icing lollipop tiramisu. Ice cream carrot cake jelly beans
                                soufflé marzipan croissant lollipop.

                                Tart carrot cake cupcake sesame snaps fruitcake. Icing pudding jelly sweet roll cotton
                                candy. Carrot cake halvah sweet roll cotton candy sesame snaps.

                                Sweet roll wafer marshmallow croissant biscuit wafer donut chocolate. Bear claw
                                chocolate bar marzipan chocolate bar brownie chocolate gummies. Cookie jujubes cake
                                biscuit caramels liquorice danish. Toffee tiramisu candy sweet apple pie dessert.</p>

                            <p>Danish cookie fruitcake halvah bonbon jelly cupcake lollipop. Marshmallow jelly cookie
                                cookie fruitcake candy soufflé muffin. Candy tart halvah icing sugar plum. Cookie donut
                                fruitcake biscuit sesame snaps ice cream toffee.</p>

                            <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <div class="hmv-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
                            <h3>Mission</h3>
                            <div class="tr-pa">M</div>
                            <p>Candy sesame snaps shortbread lemon drops jelly beans gummi bears chocolate bar
                                shortbread. Chocolate cake donut icing marshmallow pie lemon drops. Macaroon chupa chups
                                jelly beans croissant lollipop. Danish sesame snaps bear claw pudding gingerbread jelly.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
                            <h3>Vision</h3>
                            <div class="tr-pa">V</div>
                            <p>Soufflé marzipan lollipop tootsie roll biscuit lollipop cheesecake. Gummies cookie
                                chocolate bar cookie donut marzipan. Dessert cake sweet lollipop dessert tiramisu gummi
                                bears wafer sweet. Powder pie tiramisu muffin apple pie.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="inner-hmv">
                            <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
                            <h3>History</h3>
                            <div class="tr-pa">H</div>
                            <p>Gummi bears pie danish tootsie roll oat cake chocolate cake. Soufflé danish oat cake
                                danish liquorice topping. Chupa chups candy canes tiramisu brownie halvah toffee sweet
                                roll. Jelly liquorice tiramisu candy canes gummies. Brownie pie soufflé jujubes cake.
                                Icing jelly-o cotton candy tart marzipan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="testimonials" class="parallax section db parallax-off"
            style="background-image:url('images/parallax_04.jpg');">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Testimonials</h3>
                    <p>Sesame snaps apple pie cake sesame snaps cookie. Cheesecake lemon drops candy canes tiramisu tart
                        halvah cupcake. Cookie donut candy sugar plum jujubes marzipan apple pie chocolate.</p>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="testi-carousel owl-carousel owl-theme">
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_01.png" alt="" class="img-fluid">
                                    <h4>James Fernando </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                    <p class="lead">They have got my project on time with the competition with a sed
                                        highly skilled, and experienced & professional team.</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->

                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_02.png" alt="" class="img-fluid">
                                    <h4>Jacques Philips </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                    <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and I will give you completed.</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->

                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_03.png" alt="" class="img-fluid ">
                                    <h4>Venanda Mercy </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids
                                        pleasure itself, because it is very pursue pleasure. </p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->
                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_01.png" alt="" class="img-fluid">
                                    <h4>James Fernando </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                    <p class="lead">They have got my project on time with the competition with a sed
                                        highly skilled, and experienced & professional team.</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->

                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_02.png" alt="" class="img-fluid">
                                    <h4>Jacques Philips </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                    <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and
                                        praising pain was born and I will give you completed.</p>
                                </div>
                                <!-- end testi-meta -->
                            </div>
                            <!-- end testimonial -->

                            <div class="testimonial clearfix">
                                <div class="testi-meta">
                                    <img src="images/testi_03.png" alt="" class="img-fluid">
                                    <h4>Venanda Mercy </h4>
                                </div>
                                <div class="desc">
                                    <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                    <p class="lead">The master-builder of human happines no one rejects, dislikes avoids
                                        pleasure itself, because it is very pursue pleasure. </p>
                                </div>
                                <!-- end testi-meta -->
                            </div><!-- end testimonial -->
                        </div><!-- end carousel -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <%- include('partials/_footer'); %>